.display-content {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 1.5em;
  transition: max-height 0.3s ease-in-out, box-shadow 0.3s, border 0.3s;
}

.display-content:hover {
  white-space: normal;
  overflow: visible;
  background-color: white;
  position: absolute;
  z-index: 1;
  max-height: none;
  padding: 8px;
  border: 3px solid #ccc;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  cursor: pointer;
}
